extends formLayout

block content 
    heading
    h1= "Submit a new post!"
    
    main
    <form method="POST" action="/new">
    div(class="info")
        input(type="text", name="title", placeholder="Place your title here!", id="title")
        input(type="text", name="post", placeholder="Type post here!", id="post")
        input(type="text", name="userName", placeholder="Enter name here!", id="username")
    input#btn(type="submit")
    </form>

