body {
  padding: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #2a5c9a;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

header {
  width: 100%;
}

h1 {
  padding: 20px;
  font-size: 32px;
  text-align: center;
  color: #f6f9fd;
  width: auto;
  background-color: #558dd1;
  border-radius: 6px;
}

main {
  margin: auto 0;
  width: 100%;
  background-color: #f6f9fd;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  border-radius: 6px;
  overflow: auto;
}

.messageContainer {
  padding: 10px;
  box-sizing: border-box;
  border: 4px solid #558dd1;
  border-radius: 6px;
}

.text {
  font-size: 18px;
}

.user, .date{
  font-size: 14px;
  opacity: 0.50;
}

.title {
  font-size: 24px;
  color: #558dd1;
}

footer a {
  padding: 10px;
}

img {
  width: 60px;
  height: auto;
  padding-top: 16px;
}

footer div {
  color: #f6f9fd;
  position: absolute;
}


